<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form action="{% url 'response' %}">
     <h3>Ingrese el archivo Fasta del genoma de referencia</h3>
     <div style = "max-width:470px;">
      {{ form.genome }}
     </div>
    <h3>Ingrese el archivo Fastq de los reads</h3>
     <div style = "max-width:470px;">
         {{ form.reads }}
     </div>
     <input type="submit" value="Alinear" action="POST">
</form>
</body>
</html>